
<!DOCTYPE html>


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Samsara CSV File Checker</title>
    <!-- Favicon -->
    <!--link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}"-->



     <!-- Additional CSS Files -->
     <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.min.css">

     <link rel="stylesheet" type="text/css" href="../static/assets/css/font-awesome.css">

     <link rel="stylesheet" href="../static/assets/css/templatemo-lava.css">

     <link rel="stylesheet" href="../static/assets/css/owl-carousel.css">




  </head>
  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
      <div class="jumper">
          <div></div>
          <div></div>
          <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->






    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="https://samsara.com/" class="logo">
                          <img src="../static/samsara_horizontal_logo_navy.png" alt="samsara"  height="50">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#welcome" class="menu-item">Home</a></li>
                          <li class="scroll-to-section"><a href="#results" class="menu-item">Results</a></li>


                          </li>
                          <!--<li class="submenu">
                              <a href="javascript:;">Drop Down</a>
                              <ul>
                                  <li><a href="" class="menu-item">About Us</a></li>
                                  <li><a href="" class="menu-item">Features</a></li>
                                  <li><a href="" class="menu-item">FAQ's</a></li>
                                  <li><a href="" class="menu-item">Blog</a></li>
                              </ul>
                          </li>-->
                          <li class="scroll-to-section"><a href="#contact-us" class="menu-item">Feedback</a></li>
                      </ul>
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

      <!-- ***** Welcome Area Start ***** -->
      <div class="welcome-area" id="welcome">
        <form method="post" enctype="multipart/form-data">
        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">

                    <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>Samsara <em>CSV File</em> Checker</h1>
                       
                       <div style="border:5px solid;
                       border-color: #fba70b; " >
                        <div type="button" class="collapsibleX">Click for directions</div>
                        <div class="contentX">
                          <p>1. Please upload you CSV file directly by clicking the button "Choose File" and selecting your CSV file from your computer.<br> 2. Then click the <b>Render CSV</b> button</p>
                        </div>
<h2><u>CSV file type (purpose)</u></h2>
                        <input type="radio" id="drivers" name="csv_type" value="Drivers" checked>
                        <label for="drivers">Drivers</label>
                          
                        <input type="radio" id="users" name="csv_type" value="Users" disabled>
                        <label for="users">Users</label>
                          
                        <input type="radio" id="routes" name="csv_type" value="Routes" disabled>
                        <label for="routes">Routes</label><br>
                          
                        <input type="radio" id="assets" name="csv_type" value="Assets" disabled>
                        <label for="assets">Assets</label>
                          
                        <input type="radio" id="fuel" name="csv_type" value="Fuel" disabled>
                        <label for="fuel">Fuel</label>

                        <input type="radio" id="tags_and_attributes" name="csv_type" value="tags_and_attributes" disabled>
                        <label for="tags_and_attributes">tags and attributes</label><br>
                          
                        <input type="radio" id="Addresses_Geofences" name="csv_type" value="Addresses_Geofences" disabled>
                        <label for="Addresses_Geofences">Addresses/Geofences</label><br>
                        

                        <!-- paste the content of your CSV file in textbox on the right <b>-or-</b>  -->
                        <h2><u>Choose file:</u></h2>                    
                        <input class="btn btn-info mt-2 main-button-slider" type="file" id="upload" name="input_file" value="test"/>
                        <br>
                        <button class="btn btn-success mt-2 main-button-slider" id="button" >Render CSV</button>
                        <br><br>
                      </div>
                      <br>

                        <div class="container">
                        <div class="row">

                          <input class="btn btn-info mt-2 main-button-slider" id="upload_working" name="upload_working" style="display: none;"/>
                         
                          <div class="main-button-slider" id="working">Working Example</div>
                          <br>
                          <div class="main-button-slider" id="non-working">Non-Working Example</div>
                          <div class="main-button-slider" id="clear" style="display: none">Clear</div>
                        </div></div>

                    </div>
                    <!--</div>
                    <div class="row">-->
                    <div class="right-text col-lg-6 col-md-12 col-sm-12 col-xs-12" style="top: 300px;"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <textarea  class="form-control" rows="14" name="user_csv" id="user_csv" style=" border-style: solid;
                        border-width: 5px; border-color: #fba70b; opacity: 0.95; display: none;"  placeholder="                       >>>  paste CSV file text here  <<<">{{user_csv_b4}}</textarea>
                     
                     
                        <h2 style="text-shadow: 2px 2px 1px #000000; color:#f1556a; display: none;">- OR -</h2>
                        
                        <div style=" border-style: solid;
                        border-width: 5px; border-color: #fba70b; opacity: 0.95; background-color: white; display: none;">
                            
                      </div>


                    </div> <!--size="1000" width="300"  height="300" -->


            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
  </div>
  </form>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="results">
      <br><br>
        <div class="container" >
            <div class="row" >
              <div class="col-sm-12 col-xs-12"
              data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s" >
              <div class="features-item" style="background-color:rgba(230, 224, 224, 0.418); ">
                  <div class="features-icon" >
                      <h2 style="text-shadow: 2px 2px 1px #000000; color:#f1556a" id="show">01</h2>

                      <h4>Results</h4>
                      <p id="myresultsoutput">Here are the errors found in the CSV file you provided</p>

                      <!-- Test VAR: -->
                      <div class="mt-4" id="my_output_textbox" style="width: 100%; overflow: scroll; overflow-y: scroll; overflow-x: scroll; height: 400px; background-color: #fba70b; ">


                         <!----------------------hidden:------------------------------------------------------------->
                          <p style="display: none">HighLight Array: highlight_array</p>
                          <textarea class="form-control" id="highlight_array" style="display: none">{{highlight_array}}</textarea>
                          
                          <p style="display: none">Array Size: mysize</p>
                          <textarea class="form-control" id="array_size" style="display: none">{{mysize}}</textarea>
                          <!--<h5>style="display: none":</h5>-->
                          
                          <p style="display: none">Error: myerror (variable)</p>
                          <textarea class="form-control" rows="10" name="error"  id="error" style="display: none">{{error}}</textarea>

                          <p style="display: none">App Array: df2 (variable)</p>
                          <textarea class="form-control" rows="10" name="results"  id="app_array" style="display: none">{{df2}}</textarea> <!--style="display: none"-->
                          
                          <p style="display: none">Results 2: after_removing_chars</p>
                          <textarea class="form-control" rows="10" name="results2"  id="after_removing_chars" style="display: none"></textarea> <!--style="display: none"-->
                          <!--<h5>result:</h5>-->
                          
                          <p style="display: none">Results: result_text</p>
                          <textarea class="form-control" rows="10" name="my results after Javascript" id="result_text" style="display: none"></textarea>


                          <p style="display: none">Working Example:</p>
                          <textarea class="form-control" rows="10" name="workingex" id="workingex" style="display: none" >id,username,Password,Name,Phone,Notes,Tags,Attributes,Vehicle Selection Tag,Trailer Selection Tag,License Number,License State,ELD Exempt,ELD Exempt Reason,Adverse Driving Exemption,Defer Off-Duty Exemption,Adverse Driving (Canada) Exemption,ELD Personal Conveyance (PC),ELD Yard Moves (YM),Waiting Time (WT),ELD Day Start Hour,Carrier Name Override,Main Office Address Override,Carrier US DOT Number Override,Home Terminal Name,Home Terminal Address,Driver ID,Home Terminal Timezone
                            ,ajma,,AJ Magot,,,,,,,,,FALSE,Non-ELD,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,,,,Los Angeles - PST/PDT
                            ,MenardA,,AJ Menard,,,,,,,,,FALSE,NO ELD,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,,,,New York - EST/EDT
                            ,1066038,,ANTONIO GUEVARA,9082963800,,,Driver Type:Independent Contractor,,,,,FALSE,,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,,,,Los Angeles - PST/PDT
                            ,SandboxA,,AT&L Sandbox Driver,,,,,,,,,FALSE,No ELD,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,,,,New York - EST/EDT
                            ,MillsA,,Aaron Mills,,,,,,,,,FALSE,NO ELD,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,,,,New York - EST/EDT
                            ,AaronA,,Adam Aaron,,,,,,,,,FALSE,NO ELD,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,,,,New York - EST/EDT
                            ,BaileyA,,Adam Bailey,,,,,,,,,FALSE,NO ELD,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,,,,New York - EST/EDT
                            ,adam.goldberg,,Adam Goldberg,,,,,,,,,FALSE,,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,Wheel Pros 1020,"8550 Seward Rd, Suite 250, Fairfield, OH",,New York - EST/EDT
                            ,adamn,,Adam Navaro,,,,,,,,,FALSE,Non-ELD,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,,,,Los Angeles - PST/PDT
                            ,addisonm,,Addison Midoro,,,,,,,,,FALSE,,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,,,,Los Angeles - PST/PDT
                            ,adrianr,,Adrian Rojas,,,,,,,,,FALSE,Non-ELD,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,,,,Los Angeles - PST/PDT
                            ,AgustenENieves,,Agusten E Nieves,6192774895,,,,,,,,FALSE,Non-ELD,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,,,,Los Angeles - PST/PDT
                            ,DillardA,,Alan Dillard,,,,,,,,,FALSE,NO ELD,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,,,,New York - EST/EDT
                            ,HallowayA,,Alan Halloway,,,,,,,,,FALSE,NO ELD,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,,,,New York - EST/EDT
                            ,BredenA,,Alec Breden,,,,,,,,,FALSE,Service,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,,,,New York - EST/EDT
                            ,alexb,,Alex Barragan,,,,,,,,,FALSE,Exempt,FALSE,FALSE,FALSE,TRUE,TRUE,FALSE,0,,,,,,,Los Angeles - PST/PDT
                            ,PadillaA,,Alex Padilla,,,,,,,,,FALSE,Service,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,,,,New York - EST/EDT
                            ,TurtonA,,Alex Turton,,,,,,,,,FALSE,NO ELD,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,,,,New York - EST/EDT
                            ,WilkinA,,Alex Wilkin,,,,,,,,,FALSE,NO ELD,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,,,,New York - EST/EDT
                            ,allena,,Allen Algarin,,,,,,,,,FALSE,Non-ELD,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,0,,,,,,,Los Angeles - PST/PDT

                          </textarea>



                      <!-- results: -->

                      <table id="table" class="display table nowrap responsive" >
                          <thead>
                          <tr>

                          <TH>#</TH>
                          <TH>Error Explanation</TH>
                          <TH>Link</TH>

                          </tr>
                      </thead>
                      <tbody></tbody>
                      </table>
                      </div>

                      <div class="btn btn-success mt-2 main-button-slider" id="start_over">Start Over</div>

                  </div>
              </div>
          </div>
        </div>
      </div>

          <div class="container" >
          <div class="row">

                <div class="col-sm-12 col-xs-12"
                data-scroll-reveal="enter left move 30px over 0.6s after 0.4s" > <!--col-md-6 -->
                <div class="features-item" style="background-color:rgba(230, 224, 224, 0.418); ">
                    <div class="features-icon">
                        <h2 style="text-shadow: 2px 2px 1px #000000; color:#f1556a">02</h2>

                        <h4>Table</h4>
                        <p>Your CSV data in a table format</p>
                        <!-- OUTPUT / TABLE-->
                        <div class="mt-4" id="table2" style=" overflow-y: auto; overflow-x: auto; height: 400px; background-color: #fba70b;  width: 5000px; ">
                          {{ mydf | safe }}
                          <!--new table-->
                          

                        </div>

                        
                        

                    </div>
                </div>
            </div></div>

            </div>

    </section>
    <!-- ***** Features Big Item End ***** -->

    <div class="left-image-decor"></div>

    <!-- ***** Features Big Item Start ***** -->


    <!-- ***** Footer Start ***** -->
    <footer id="contact-us">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <!-- ***** Contact Form Start ***** -->
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="contact-form">
                            <form id="contact" action="" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="nameF" type="text" id="name" placeholder="Full Name" required=""
                                                style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="emailF" type="text" id="email" placeholder="E-Mail Address"
                                                required="" style="background-color: rgba(250,250,250,0.3);">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="messageF" rows="6" id="message" placeholder="Your Message"
                                                required="" style="background-color: rgba(250,250,250,0.3);"></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-button">Send Feedback</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- ***** Contact Form End ***** -->
                    <div class="right-content col-lg-6 col-md-12 col-sm-12">
                        <h2>More About <em>CSV Checker</em></h2>
                        <p>CSV checker was designed to help Samsara users finding issues with their CSV file when they run into errors trying to upload it do Samsara's dashboard. <br>
                           Please provide any feedback you may have to improve this tool. <br>
                           Thank you
                        </p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <p>Copyright &copy; 2022 CSV Checker
                        | Created by Vojta Ripa & Scott Roan</a>
                        | Designed by <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

  </body>
     <!-- FROM OLD CODE---------------------------------------------------------------------------------------->
     <!-- jQuery -->
     <script src="../static/assets/js/jquery-2.1.0.min.js"></script>

     <!-- Bootstrap -->
     <script src="../static/assets/js/popper.js"></script>
     <script src="../static/assets/js/bootstrap.min.js"></script>

     <!-- Plugins -->
     <script src="../static/assets/js/owl-carousel.js"></script>
     <script src="../static/assets/js/scrollreveal.min.js"></script>
     <script src="../static/assets/js/waypoints.min.js"></script>
     <script src="../static/assets/js/jquery.counterup.min.js"></script>
     <script src="../static/assets/js/imgfix.min.js"></script>

     <!-- Global Init -->
     <script src="../static/assets/js/custom.js"></script>


      <!-- FROM OLD CODE---------------------------------------------------------------------------------------->
      <!-- JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

      <!-- Bootstrap -->
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script type = "text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script type = "text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script type = "text/javascript"  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

      <!-- Datatable -->
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
      <script type = "text/javascript"  src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
      <script type = "text/javascript"  src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
      <script type = "text/javascript"  src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>


     <script type="text/javascript">

 //$("#button").prop('disabled', true); //button remains disabled

 //Makes datatable in step 2
    $('#proxies').DataTable();

    //errors:
    var my_errors = document.getElementById('error').value;
    if(my_errors != "")
      alert("ERROR: "+my_errors);


    var is_there_text=false;

    var working_example   = document.getElementById('workingex').value;

    //3 BUTTONS:
    my_upload = document.getElementById('upload')

     $('#working').click( function () {is_there_text=true; 

      $("#upload_working").val("working");
      //$("upload_working").val("non-working");

      /*Object.defineProperty(my_upload, 'name', {
  writable: true,
  value: "C:\fakepath\FINAL_working_example.csv"
  

});
Object.defineProperty(my_upload, 'name', {
  writable: true,
  filename: "C:\fakepath\FINAL_working_example.csv"});*/
//alert("working example"); 
//$("#button").click();
setTimeout(
  function() 
  {
      $("#button").trigger("click");
      is_there_text=false;
      $("#button").prop('disabled', true);
      $("#non-upload_working").prop('disabled', true);
  }, 500);

});  

//NON WORKING EXAMPLE:
$('#non-working').click( function () 
{
  is_there_text=true; 
      $("#upload_working").val("non-working");

//alert("non-working example"); 
//$("#button").click();
setTimeout(
  function() 
  {
      $("#button").trigger("click");
      is_there_text=false; 
      $("#button").prop('disabled', true);
      $("#upload_working").prop('disabled', true);

  }, 500);

});
    
     $('#clear').click(

     function(){
        $('#user_csv').val('');
        is_there_text=false;

    });

    //DISABLE BUTTON:
    /*
    let input = $("#user_csv");
    let button = $("#button");
    */

    //button.disabled = true; //setting button state to disabled




//WORK
  $("#button").prop('disabled', true); //button remains disabled

//Function to change state:
  $("#user_csv").on('input', function()
  {
    if ($("#user_csv").val === "")
    {
      $("#button").prop('disabled', true); //button remains disabled
      is_there_text=false;
    }
    else
    {
      $("#button").prop('disabled', false);//button is enabled
    }
  });


//Function to change state UPLOAD:
  $("#upload").on('input', function()
  {
    
    var ext = $('#upload').val().split('.').pop().toLowerCase();
    
    
    if ($("#upload").val === "")
    {
      $("#button").prop('disabled', true); //button remains disabled
      is_there_text=false;
    }
    else if($.inArray(ext, ['csv']) == -1)
    {
      alert('invalid file type! Please upload a CSV file only.');
      $("#button").prop('disabled', true); //button remains disabled
    }
    else
    {
      
      $("#button").prop('disabled', false);//button is enabled
    }
  });

//Function to change state:
  $("#working, #non-working, #clear").on('click', function()
  {
    if (is_there_text==false)
    {
      $("#button").prop('disabled', true); //button remains disabled
    }
    else
    {
      $("#button").prop('disabled', false);//button is enabled
    }
  });


    var myinputarr = [];
    //Value of the hidden textbox
    function PrintArrayFromAppPY()
    {
      //getting value from textarea which are inputed via Python script:
      var my_array_size   = document.getElementById('array_size').value;
      var app_array_value = document.getElementById('app_array').value;
      var highlight_array = document.getElementById('highlight_array').value;

      //IF COMING BACK FROM EXECUTING PYTHON SCRIPT:
      if(app_array_value != "")
      {
      var type = typeof(app_array_value);

      // replace ] with nothing.
      app_array_value = app_array_value.replaceAll("']", "");

      // replace [ with nothing.
      app_array_value = app_array_value.replaceAll("['", "");

      //works, replaces all ' with " to make array
      app_array_value = app_array_value.replaceAll("\'", "\"");

      // replace  ', ' with nothing.
      app_array_value = app_array_value.replaceAll("\', \'", "");

      //finally adding [] around the object
      app_array_value = "[\""+app_array_value+"\"]"

      $("#after_removing_chars").val(app_array_value);

      var myJsonArray = JSON.parse(app_array_value);
      //var type2 = typeof(app_array_value);

      document.getElementById('result_text').value =myJsonArray; // "TYPE OF: "+ type + "\n " +"TYPE OF 2: "+ type2 + "\n " + myJsonArray + "\n " + app_array_value

      //NOW PRINTING AS TABLE:
      i=0;

      for (var key in myJsonArray)
      {
        i++;
        // DIVIDE UP HTTP / LINK RESPONSES

        //FIRST IF THERE ARE ANY HEADERS, PRINT THOSE DIFFERENTLY
        if(myJsonArray[key].includes("1. Potential Issues with your Driver Set Up:"))
        {
          $('#table').append('<tr><th style="background-color: #f1556a; " colspan="3">' + myJsonArray[key] + '</th></tr>');
          i--;
        }
        else if(myJsonArray[key].includes("2. Potential Issues with your License Plate Numbers or States:"))
        {
          $('#table').append('<tr><th style="background-color: #f1556a; " colspan="3">' + myJsonArray[key] + '</th></tr>');
          i--;
        }
        else if(myJsonArray[key].includes("3. Potential Issues with your Driver Rulesets:"))
        {
          $('#table').append('<tr><th style="background-color: #f1556a; " colspan="3">' + myJsonArray[key] + '</th></tr>');
          i--;
        }
        else if(myJsonArray[key].includes("4. Potential Issues with your CSV Headers:"))
        {
          $('#table').append('<tr><th style="background-color: #f1556a; " colspan="3">' + myJsonArray[key] + '</th></tr>');
          i--;
        }

        //No Rulesets
        else if(myJsonArray[key].includes("No Rulesets"))
        {
          //$('#table').append('<tr><th style="background-color: #f1556a; " colspan="3">' + myJsonArray[key] + '</th></tr>');
          i--;
        }

        else if(myJsonArray[key].includes("http") )
        {
          let index = myJsonArray[key].indexOf("http");
          var mylink = myJsonArray[key].substring(index);
          var firstPartofText = myJsonArray[key].substring(0, index);
          $('#table').append('<tr><td>'+ i+'</td><td>' + firstPartofText + '</td><td><a href="' + mylink + '">Manage Driver Accounts</td></tr>');
        }
        else
        {
          $('#table').append('<tr><td>'+ i+'</td><td>' + myJsonArray[key] + '</td></tr>');
        }

      }


      //FOR ADDING RESULTS SUMMARY:
      if(my_array_size > 0 && i > 0)
      {
        $(myresultsoutput).append("<br><i class='fa fa-times-circle' aria-hidden='true' style='color:red !important;' fa-3x></i><b> Found: " + my_array_size +" errors. Please fix the below errors. </b><i class='fa fa-times-circle' aria-hidden='true' style='color:red !important;' fa-3x></i>");
      }
      else
      {
        $(myresultsoutput).append("<br><i class='fa fa-check' aria-hidden='true' fa-3x style='color:green !important;'></i><b> No errors found! File is good to go.</b><i class='fa fa-check' aria-hidden='true' fa-3x style='color:green !important;'></i>");
        $("#table").hide();
        $("#my_output_textbox").append("<div style='font-size: 100px;'>File Looks good <i class='fa fa-check' aria-hidden='true' fa-5x style='color:green !important; size: 500%'></i></div>");

      }
      //HIGHLIGHTING KEY WORDS:
      //////////////////////////////////////////////////////////////
            // replace ] with nothing.
            highlight_array = highlight_array.replaceAll("']", "");

            // replace [ with nothing.
            highlight_array = highlight_array.replaceAll("['", "");
      
            //works, replaces all ' with " to make array
            highlight_array = highlight_array.replaceAll("\'", "");
      
            // replace  ', ' with nothing.
            highlight_array = highlight_array.replaceAll("\', \'", "");
      
            //finally adding [] around the object
            //highlight_array = "[\""+highlight_array+"\"]"

            /*
            alert(highlight_array); // ["Steve", "Qwerty", "Vehicle Selection Tag.1", "Trailer Selection Tag.1", "Start Of Day Workflow.1", "Tags.1", "Attributes.1"]
            var highlight_type = typeof(highlight_array);
            alert(highlight_type);
            */

            const myArray = highlight_array.split(", ");

            for(let i=0; i<=myArray.length; i++) {
              console.log(myArray[i])  // 1 2 3 4 5 6
              
              //HIGHLIGHTS THE TABLE BELOW / CSV FILE TABLE FORMAT PORTION:
              $("#table2 td:contains('" + myArray[i] + "')").css("background-color", "yellow");
              $("#table2 th:contains('" + myArray[i] + "')").css("background-color", "yellow");
              $("#table2 td:contains('" + myArray[i].toLowerCase() + "')").css("background-color", "yellow");
              $("#table2 th:contains('" + myArray[i].toLowerCase() + "')").css("background-color", "yellow");
              
              //HIGHLIGHTS THE REUSLT ERRORS TABLE
              highlightName(myArray[i]);
            }

            //BEFORE: ['Steve', 'Qwerty', 'Vehicle Selection Tag.1', 'Trailer Selection Tag.1', 'Start Of Day Workflow.1', 'Tags.1', 'Attributes.1']

      /*
      //HIGHLIGHTING:
      for(var key in highlight_array)
      {
        //kinda works:
        //$("td:contains('" + highlight_array[key] + "')").css("background-color", "yellow");

        //THIS CURRENTLY TIMES OUT:
        //highlightName(highlight_array[key]);

        //alert(highlight_array[key]);
      }
      */
 

      //Does highlight Steve, but then puts 2 extra steves in...
      //highlightName("Peer Group");
      /////////////////////////////////////////////////////////////////////////////////////////////////////////////////



      function highlightName(sName)
      {
        var targetSpan = $("#table td:contains('" + sName + "')");
        var spanText = targetSpan.text();

        targetSpan.html(spanText.replace(sName, "<mark>" + sName + "</mark>"));
      }


    }


    }

    //Converts array of results to more printable format WORKS!
    $('#button').click(
      
      

      PrintArrayFromAppPY()




);  // .click( function() {$(this).attr("href", "#results"); $("#results").scrollTop(0); })

    var myscroll = document.getElementById( 'results' );
    

    
    document.addEventListener("DOMContentLoaded", function(event) 
    { 
      var never_run = document.getElementById( 'app_array' ).textContent;

      if(never_run == "")
      {
        $(window).scrollTop(0);
        document.getElementById( 'welcome' );
        //alert("YES");
      }
      //already has results
      else
      {
        //alert("NO");
        $('html, body').animate({
          scrollTop: $("#results").offset().top
      }, 500);



      }
});


//SHOW ALL HIDDEN ELEMENTS: (FOR DEBUGGING)
$("#show").on("click",function(){
  $("*").show();
  alert("Debug mode");
});

//START OVER BUTTON
$('#start_over').click(function() {
    location.reload();
    document.getElementById( 'welcome' );
    $(window).scrollTop(0);
});

// LIMITTING ONLY CSV file upload
$("#button").bind("submit", function() {   
    
  var ext = $('#upload').val().split('.').pop().toLowerCase();
    
    if($.inArray(ext, ['csv']) == -1) 
    {
        alert('invalid file type! Please upload a CSV file only.');
    }

  });


//DIRECTIONS COLLAPSABLE:
var coll = document.getElementsByClassName("collapsibleX");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("activeX");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

  </script>

</html>